{erl_opts, [debug_info]}.
{deps, []}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling]},
    {plt_extra_apps, [crypto]}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/iRaffnix/erlkoenig_nft">>},
    {extras, [<<"README.md">>]},
    {main, <<"readme">>},
    {api_reference, true}
]}.

{relx, [
    {release, {erlkoenig_nft, "0.5.0"}, [sasl, compiler, erlkoenig_nft]},
    {mode, minimal},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {overlay, [
        {copy, "env.sh", "env.sh"},
        {copy, "dist/erlkoenig_nft.service", "dist/erlkoenig_nft.service"},
        {copy, "dist/erlkoenig_nft_run", "bin/erlkoenig_nft_run"},
        {copy, "examples", "examples"},
        {copy, "dsl/erlkoenig", "bin/erlkoenig"}
    ]}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]}
    ]},
    {prod, [
        {relx, [
            {mode, prod},
            {include_erts, true}
        ]}
    ]}
]}.
